.title {
    text-transform: uppercase;
    font-size: 35px;
    @include margin($bottom: 30px);

    &--fs-40 {
        font-size: 40px;
    }

    @media (max-width:767px) {
        & {
            font-size: 30px;
        }
    }

    @media (max-width:576px) {
        & {
            font-size: 7vw;
        }
    }
}